@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Encode Sans', sans-serif;
    }
}
@layer components {
    .btn-account {
        @apply py-1 px-3 bg-purpleOiches rounded-md text-white hover:text-black transition-all;
    }
    .form-input {
        @apply active:border-purpleOiches p-4 focus-visible:border-purpleOiches focus:border-purpleOiches border mt-2 h-10 w-full
    }
}
