@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Encode Sans', sans-serif;
    }
    p,
    li,
    h2 {
        margin-bottom: 0.5rem;
    }
    table {
        width: 100%;
        overflow-x: auto;
    }
    table thead th {
        color: #fff;
        background-color: #424242;
    }
    table th,
    table td {
        padding: 8px;
        text-align: left;
        border-top: 1px solid #ddd;
    }

    table tbody tr:nth-child(even) {
        background-color: #f3f3f3;
    }

    @media (max-width: 767px) {
        table thead {
            display: none; /* Oculta los encabezados en dispositivos móviles */
        }

        table tr {
            margin-bottom: 0.625em;
            display: block;
            border-bottom: 2px solid #ddd;
        }

        table td {
            display: block;
            position: relative;
            text-align: center;
        }

        table td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-weight: bold;
            text-align: left;
        }
    }
}
.react-calendar {
    font-family: 'Encode Sans', sans-serif;
    width: 100%;
    max-width: 25rem;
    border-color: rgba(128, 128, 128, 0.1);
}
button.react-calendar__navigation__arrow {
    font-size: 1.5rem;
}
.react-calendar__navigation__label {
    order: 1;
    text-align: left;
    padding-left: 1rem;
    font-size: 1.3rem;
    font-weight: 900;
    font-family: 'Encode Sans', sans-serif;
}
.react-calendar__navigation__prev-button {
    order: 2;
}
.react-calendar__navigation__next-button {
    order: 3;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #ffb500;
}
.react-calendar abbr:where([title]) {
    text-decoration: none;
    text-transform: capitalize;
}
.react-calendar__month-view__days__day--weekend {
    color: initial;
}
.react-calendar__tile.react-calendar__month-view__days__day {
    border: 1px solid rgba(128, 128, 128, 0.1);
    height: 3rem;
}
.react-calendar .unavailable {
    background-color: #ffcccc;
    color: #a00;
}
.react-calendar .available-date,
.react-calendar__tile.react-calendar__month-view__days__day.selected-date,
.calendarReserva .react-calendar__tile.react-calendar__tile--active,
.concert .react-calendar__tile.react-calendar__tile--active {
    background-color: #9333ff;
    color: #fff;
}
.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
    background-color: initial;
    color: initial;
}
.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.selected-date,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background-color: #ffb500;
}
.react-calendar.calendar-concert {
    max-width: 100%;
}
.react-calendar.calendar-concert .react-calendar__navigation__prev2-button,
.react-calendar.calendar-concert .react-calendar__navigation__next2-button {
    display: none;
}
.calendar-concert .react-calendar__navigation__label {
    font-size: 1rem;
}
@layer components {
    .btn-account {
        @apply py-1 px-3 bg-purpleOiches rounded-md text-white text-center hover:text-black transition-all hover:cursor-pointer;
    }

    .btn-buscar {
        @apply py-2 px-6 bg-purpleOiches hover:bg-moradoOiches rounded-md text-white text-center font-bold transition-all cursor-pointer w-full md:w-auto;
    }
    .btn-degradado {
        @apply bg-gradient-to-r from-purple-700 to-purple-900 text-white font-bold py-2 px-4 rounded-lg shadow-lg hover:opacity-90;
    }

    .form-input {
        @apply p-3 border border-gray-300 rounded-lg mt-2 h-10 w-full focus:outline-none focus:ring-2 focus:ring-purple-600;
    }
    .form-select {
        @apply px-4 border border-gray-300 rounded-md mt-2 h-10 w-full bg-white focus:border-purple-600;
    }
    .form-textarea {
        @apply p-3 border border-gray-300 rounded-lg mt-2 min-h-40 w-full focus:outline-none focus:ring-2 focus:ring-purple-600;
    }
    .sect-photo {
        @apply relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500;
    }
    .border-photos {
        @apply flex items-center justify-center w-40 h-40 border-2 border-dashed border-gray-300 rounded-md relative overflow-clip;
    }
    .image-shadow,
    article.yt-lite {
        @apply rounded-2xl shadow-[3px_3px_6px_2px_rgba(0,0,0,0.3)];
    }

    .enlaces {
        @apply text-purple-600 hover:underline focus:outline focus:ring-2 focus:ring-purple-600 flex items-center gap-2;
    }

    /* Zona de héroe */
    .hero {
        @apply bg-gray-100 py-16 text-center md:h-[680px] w-full flex flex-col justify-center items-center;
    }

    .hero-title {
        @apply text-4xl font-bold text-gray-800 mb-4 z-10 p-4 drop-shadow-[0_4px_3px_rgba(0,0,0,0.9)];
    }

    .hero-subtitle {
        @apply text-lg text-gray-800 z-10 font-semibold px-4 mb-8 drop-shadow-[0_2px_1px_rgba(0,0,0,0.9)];
    }

    /* Contenedor del formulario de filtros */
    .sala-filter-form-container,
    .grupo-filter-form-container {
        @apply w-full bg-footercolor flex justify-center;
    }

    /* Filtros de salas */
    .sala-filter-form,
    .grupo-filter-form {
        @apply w-full max-w-screen-lg flex flex-col md:flex-row justify-between p-4;
    }

    .sala-filter-form > *,
    .grupo-filter-form > * {
        @apply mx-2 my-2;
    }

    .golden-ratio-1 {
        @apply flex-1;
    }

    .golden-ratio-2 {
        @apply flex-[1.618];
    }

    .golden-ratio-3 {
        @apply flex-1;
    }

    .sala-filter-form button,
    .grupo-filter-form button {
        @apply flex-none;
    }

    /* Tarjetas de lista */
    .sala-list-container,
    .grupo-list-container {
        @apply w-11/12 flex flex-col justify-center mt-12 mx-auto;
    }

    .sala-list,
    .grupo-list {
        @apply w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8;
    }
    .card {
        @apply bg-gray-800 text-white p-3 rounded-lg shadow-lg cursor-pointer w-full max-w-80 mx-auto;
    }
    .card-generica {
        @apply card flex flex-col h-full p-3 bg-footercolor shadow-md rounded-lg cursor-pointer transition-transform hover:scale-105;
    }
    .sala-card,
    .grupo-card {
        @apply bg-gray-900 p-3 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300;
    }
    .concert-list {
        @apply w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8;
    }
    .sala-card-image,
    .grupo-card-image {
        @apply w-full max-w-full h-48 max-h-48 object-cover rounded-lg mb-4 transition-transform duration-300 transform hover:scale-105;
    }

    .concert-card-image {
        @apply w-full max-w-full h-72 object-cover rounded-lg mb-4 transition delay-150 duration-300 ease-in-out hover:scale-105;
    }
    .sala-card-title,
    .grupo-card-title {
        @apply text-xl font-bold text-white mb-2;
    }

    .sala-card-genre,
    .sala-card-province,
    .sala-card-votes,
    .grupo-card-genre,
    .grupo-card-province,
    .grupo-card-votes {
        @apply text-gray-400;
    }

    .button {
        @apply p-4 shadow-lg rounded bg-purple-600 text-white hover:scale-105 transition-all;
    }
    .button-large {
        @apply mt-4 flex justify-center items-center gap-2 bg-gradient-to-r from-moradoOiches to-purpleOiches text-white font-bold py-2 rounded-lg;
    }
    .sub_title_ficha {
        @apply text-white; /*Bold para texto como provincia genero etc... de las fichas*/
    }

    /* New classes for ProfileForm layout */
    .form-section {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6;
    }
    .profile-picture-container {
        @apply flex flex-col items-center mb-8;
    }
    .profile-picture {
        @apply w-32 h-32 mb-4 rounded-full border-4 border-dashed border-gray-300 flex items-center justify-center overflow-hidden;
    }
    .btn-reset {
        @apply py-2 px-4 bg-red-500 rounded-lg text-white text-center hover:bg-red-600 transition-all;
    }
}

.active:not(.btn-account) {
    font-weight: 600;
}
.slick-prev:before,
.slick-next:before {
    color: #9333ff;
    font-size: 30px;
    width: 30px;
    height: 40px;
}
.slick-slide > div {
    margin: 0px 10px;
}
/* Ajustar los dots para que siempre estén visibles y alineados correctamente */
.slick-dots {
    @apply flex justify-center mt-4; /* Flex para centrar y añadir margen superior */
    width: 100%; /* Asegura que los dots ocupen todo el ancho del contenedor */
    position: relative; /* Los dots se quedan en su espacio sin causar desbordamiento */
    margin: 0 auto;
    z-index: 2; /* Asegura que los dots se muestren sobre el slider */
}

/* Ajustar el tamaño y color de los dots */
.slick-dots li button:before {
    @apply text-base; /* Tamaño adecuado para pantallas pequeñas y grandes */
    color: #9333ff; /* Cambia el color para contraste */
}

/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 768px) {
    .slick-dots {
        @apply mt-2; /* Ajusta el margen en pantallas pequeñas */
    }
}

/*Avatar perfil cuadrado esquinas redondeadas a la par que lso video e imagenes*/
.avatar-square {
    @apply w-40 h-40 rounded-lg object-cover;
}

.multiSelectContainer input {
    @apply w-full;
}
.description-content {
    color: #374151;
}
.description-content h1,
.description-content h2,
.description-content h3 {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}
.description-content a {
    text-decoration: underline;
}
.description-content ul {
    list-style: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}
